:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;

  /*box-sizing: border-box;*/
}

html {
  font-size: 42;
  justify-content: space-around;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(255, 255, 255);
  color: white;
  height: max-content;
  line-height: 2.5;
  font-weight: 20;
}

img {
  width: 2rem;
  object-fit: cover;
}

.flex {
  display: flex;
  background-color: rgb(248, 255, 248);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  align-content: center;
}

.flex .cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;
}

.sedan,
.suv,
.luxury {
  padding: 30px;
  width: 100%;
  padding-left: 5%;
  padding-right: 2%;
}

.sedan {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #ef820d;
  height: 80%;
}

.suv {
  display: flex;
  justify-content: space-around;
  background-color: #008081;

  height: 80%;
  flex-direction: column;
  border: 50px;
}
.luxury {
  display: flex;
  flex-direction: column;
  background-color: #124141;
  justify-content: space-around;
  height: 80%;
}

.sedan p,
.suv p,
.luxury p {
  width: 220px;
  padding-right: 20px;
  margin-right: 20px;
  font-size: 15px;
}

.sedan button,
.suv button,
.luxury button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 25px;
  color: white;
  justify-content: space-around;
  margin-top: 30px;
}

button {
  background-color: transparent;
  border-color: white;
  border-radius: 50px;
  text-decoration-color: white;
  width: 150px;
  height: 49px;
  text-align: center;
  outline: none;
  cursor: pointer;
  font-size: 0.5rem;
  justify-content: space-around;
}
h1 {
  font-size: 20px;
  align-content: center;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  white-space: nowrap;
  font-size: 2px;
}

@media only screen and (min-width: 778px) {
  .flex .cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 650px;
    height: 600px;
    padding-right: 20px;
  }
}
